#app {
  height: 100%;
}

.resize-handle-fix {
  z-index: 10000;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.ui.search > div {
  width: 350px;
}

.srd-demo-canvas {
  height: 100%;
}

#home-logo {
  max-width: 100%;
  height: auto;
}

/* Header logo/hiding menu */

#start-logo {
  position: absolute;
  width: 14em;
  top: 200px;
  left: calc(50% - 7em);
  z-index: 1;
}

#carousel {
  height: 55vh;
  display: flex;
  justify-content: center;
}
#carousel #carousel-text {
  position: absolute;
  top: 25vh;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;
}

#carousel-text > h1 {
  font-size: 75px;
  text-align: center;
}

#carousel-text > h3 {
  font-size: 25px;
  text-align: center;
  font-style: italic;
}

#carousel .carousel-image {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1.5s;
}

#carousel .carousel-image.hidden {
  opacity: 0;
}

.shadow {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before,
.shadow:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.shadow:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #2185d0;
  border-radius: 12px;
}

.div-card-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#all-cards {
  display: flex;
  z-index: 2;
}

.cards {
  width: 30%;
  height: 255px;
  background-color: black;
  flex-direction: row;
  margin: 25px;
  z-index: 2;
  border-radius: 15px;
}

#schema-img {
  background: url("images/schema.png");
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  opacity: 0.9;
  display: block;
  height: 200px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#kanban-img {
  background: url("images/kanban.png");
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  opacity: 1;
  display: block;
  height: 200px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card-title {
  color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
  z-index: 2;
}
